<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Cadastro Professor - BES</title>
	
	<style type="text/css">
		h1 {
			text-align: center;
		}
	</style>
</head>
<body>
	<h1>Cadastrar Professor</h1>
	
	<form  method="post">
		Nome: <input type="text"value="" name="nomeCompletoProfessor"/> <br>
		Email: <input type="text" value="" name="emailProfessor"/> <br>
		Data de Egresso: <input type="text" value="" name="anoEgressoProfessor"/> <br>
		
		<button type="submit">Salvar</button>
	</form>
</body>
</html>

