<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Matricular Estudante - BES</title>
<style>
h2 {
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid black;
	padding: 8px;
}

.button {
	display: inline-block;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	color: #333;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 4px;
	font-weight: bold; 
	cursor: pointer;
}

.button:hover {
	background-color: #e6e6e6;
}
</style>
</head>
<body>
	<h2>Matricular Estudante</h2>
	
	<a href="/estudantes" class="button" style="margin-bottom: 20px">Voltar</a>
	<a href="/gestao" class="button" style="margin-bottom: 20px">Tela Inicial</a>

	<table>
		<thead>
			<tr>
				<th>Cod_Disciplina</th>
				<th>Nome</th>
				<th>Professor</th>
				<th>Adicionar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="disciplina : ${disciplinas}">
				<td th:text="${disciplina.codDisciplina}"></td>
					<td th:text="${disciplina.nomeDisciplina}"></td>
					<td th:text="${disciplina.professor.nomeCompletoProfessor}"></td>
					
				<td th:unless="${estudante.disciplina.contains(disciplina)}">
                    <a class="button" th:href="@{/matricularEstudante/{matriculaEstudante}/{codDisciplina}(matriculaEstudante=${estudante.matriculaEstudante},
                    						codDisciplina=${disciplina.codDisciplina})}">
                        +
                    </a>
                </td>
			</tr>
		</tbody>
	</table>

</body>
</html>
